.deleteCoursePage h2{
    text-align: center;
}

.deleteTabs {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 20px;
}

.returnButton {
    display: block;
    margin: 20px auto;
    width: 100px;
}